

.topDivs {
  width: 20%;
  height: 50px;
  background-color: white;
  padding: 10px;
  border: 1px solid white;
  float: left;

  /* height: 1500px;
  background-image: url('tinymissile.png');
  animation: slideDown 5s; */

}



.projectile {
   background-image: url('tinymissile.png');
   background-repeat: no-repeat;
   width: 100px;
   height: 100px;
   animation: slideDown 5s infinite;
   position: absolute;

}

/* msOne {

} */

/* @keyframes slideDown {
  0% { top: 0px;

  }
  100% {
    top: 500px;
  }

} */

/* #msOne {
width: 200px;
background-image: url('tinymissile.png');
}

#msTwo {
width: 200px;
background-image: url('tinymissile.png');
}

#msThree {
  width: 200px;
background-image: url('tinymissile.png');
}

#msFour {
  width: 200px;
background-image: url('tinymissile.png');
} */



/* .missile {
  position: absolute;
  background-image: url('tinymissile.png');
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  transition: top 1s, left 1s;
  transition-timing-function: linear;
  border:1px solid red; */
  /* -webkit-animation-name: fadeIn;
} */


/* .missile.fall {

} */
