

.topDivs {
  width: 60px;
  height: 50px;
  padding: 10px;
  background-image: url('tinymissile.png');
  background-repeat: no-repeat;
  position: absolute;
  display: none;
  transition: left 5s, top 8s;
}
.shot {
  background-position: center;
  background-size: contain;
  background-image: url('boom2.png');
}
